.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.pushable {
  height: 100vh;
  border: none;
  box-shadow: none;
}

.ui.segment {
  border: none;
  box-shadow: none;
}

.ui[class*='left floated'].button {
  margin-left: 10px;
  margin-top: 10px;
}

.react-calendar {
  position: absolute;
  bottom: 80px;
  border: none;
  width: 90%;
  margin-left: 5%;
}

.logoutItem {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ui.vertical.menu > .item:last-child {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.ui.inverted.menu {
  background: #4520ab;
}

.pushable > .pusher {
  width: calc(100% - 350px);
}
.container {
  margin-top: 60px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col-6 {
  flex-basis: 40%;
  margin-right: 5%;
  margin-left: 5%;
}
.col-8 {
  flex-basis: 50%;
  margin-right: 5%;
  margin-left: 5%;
}
.col-4 {
  flex-basis: 20%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui.ribbon.label {
  margin-bottom: 20px;
}

.regForm {
  width: 50%;
}
.avatar > .ui.button {
  margin-top: 10px;
}

.usersList {
  width: 100%
}