<div class="center">
    <h1>Sign Up</h1>
    <form action="/sign-up" method="post">
        <div class="form-field">
            <label for="nickname">nickname</label>
            <input type="text" name="nickname" required>
        </div>
        <div class="form-field">
            <label for="email">email</label>
            <input type="text" name="email" required>
        </div>
        <div class="form-field">
            <label for="password">password</label>
            <input type="text" name="password" required>
        </div>
        <div class="form-field">
            <input type="submit">
        </div>
    </form>
</div>